.champ { display: inline-block; vertical-align: middle; margin: 2px 2px; padding: 1px 1px; border: 0px solid #000; }

.iloCode { width: 32px; font-size: 1.2em !important; letter-spacing: 2px; }
.iloLibelle { width: 300px; }
.servDem { width: 210px; }
.ilotTypeIlot { width: 135px; }
.dacIdDomAct { width: 235px; }
.competence { width: 282px; }
.site { width: 190px; }
.entreprise { width: 188px; }

.couleur_ligne_pair{ background-color: #f7f7f7;  }

.surligner { color: #f70; }
.infoBulle { display: none; font-size: 0.9em; position: absolute; top: 10px; left: 10px; border: 1px solid #efefef; background-color: #ff9700; padding: 2px 6px; color: #000; }

.lienIlotAjax
{
font-size: 15px;
color: #666;
display: inline-block;
text-decoration: none;
margin: 3px 6px;
padding: 3px 3px;
line-height: 18px;
border: 1px solid #fff;
width: 930px;
-webkit-font-smoothing: auto;
-webkit-transition-delay: 0s, 0s;
-webkit-transition-duration: 0.05s, 0.05s;
-webkit-transition-property: border-color, box-shadow;
-webkit-transition-timing-function: ease-in-out, ease-in-out;

transition-delay: 0s, 0s;
transition-duration: 0.05s, 0.10s;
transition-property: border-color, box-shadow;
transition-timing-function: ease-in-out, ease-in-out;
}

.lienIlotAjax b { color: #444 !important; }

.lienIlotAjax:hover
{
color: #000;
border-radius: 2px;
border: 1px solid #eaeaea;
border-color: rgba(82, 168, 236, 0.8) !important; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);

}


#results_ilot { width: 945px; }

.bloc_front_coms textarea { text-align: left; }

a.exportcsv { text-decoration: none; color: inherit; float: right; margin: 0 20px 0 0; font-size: 0.9em; }
a.exportcsv img { border: none; width: 20px; height: 20px; margin-left: 3px; position: relative; top: 3px; }

a.nav_map { text-decoration: none; display: inline-block; margin: 5px 23px 3px 0px; color: inherit; font-size: 0.9em; }
a.nav_map:hover { color: #ff9700; }

.bloc_front { border: 0px solid #000; display: inline-block; padding: 10px 0 0 0; width: 590px; line-height: 28px; vertical-align: top; }
.bloc_front .bloc_front_titre, .bloc_front_coms .bloc_front_titre { border: 0px solid #000; font-weight: bold; color: #000; width: 226px; display: inline-block; text-align: right; margin: 3px 0px 2px 0px; vertical-align: top; font-size: 0.9em; }
.bloc_front .bloc_front_titre span { display: inline-block; border: 0px solid #000;vertical-align: top;}
.bloc_front .bloc_front_aff { display: inline-block; border: 0px solid #000; width: 350px; margin: 3px 0px 2px 4px; font-size: 1em; }

.bloc_front_coms { border: 0px solid #000; display: inline-block; padding: 10px 0 0 0px;  width: 98%; line-height: 28px; vertical-align: top; }
.bloc_front_coms .bloc_front_infos { display: inline-block; width: 640px; border: 0px solid #000; margin: 3px 0px 2px 4px;}

.bloc_side { border: 0px solid #fff000; display: inline-block; padding: 10px; width: 300px; line-height: 28px; vertical-align: top; font-size: 1em; float: right;}
.bloc_side span.a { font-weight: bold; color: #000; width: 130px; display: inline-block; text-align: right; margin-right: 8px; font-size: 0.9em; }
.bloc_side span.b { font-weight: bold; color: #000; display: inline-block; text-align: center; width: 100%; }
